
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0;
}


.back1 img{
  position: fixed; /* Stays in place during scroll */
  z-index: 0;      /* Behind everything */
  pointer-events: none; /* Allows clicking "through" the SVG to buttons underneath */
  opacity: 0.5;    /* Optional: makes them subtle */
  top: 0;
  right: 0;
  width: 300px; /* Adjust size as needed */
}

.back1 {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -10;
}

.back2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
}


@media (max-width: 1000px) {
  .back1 {
    top: -250px;
  }

  .back2 {
    bottom: -150px;
  }
}


