# --- DEV VARIABLES ---
NODE_ENV_DEV=development
API_URL_DEV=http://localhost:5000/
MONGO_URI_DEV=
JWT_SECRET_DEV=
ENERGY_API_TOKEN_DEV=

# --- DEPLOYMENT (DEP) VARIABLES ---
NODE_ENV_DEP=production
API_URL_DEP=
MONGO_URI_DEP=
JWT_SECRET_DEP=