.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.title {
    font-family: Inter;
}

.container ul {
    list-style: none;
}

.container ul li {
    padding: 1rem;
    margin-bottom: 0.5rem;
}