.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 20px;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 4px 4px 8px rgb(0, 0 ,0, 0.25);
    background-color: #FEFEFE;
    align-items: center;
}

.navbarList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.navbarList a {
    text-decoration: none;
}

.navElement {
    font-family: Inter;
    font-size: medium;
    height: 12px;
    width: auto;
    color: black;
    cursor: pointer;
}

.navElement:hover {
    font-weight: bold;
}
