.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 3vh;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgb(0, 0 ,0, 0.25);
    background-color: #FEFEFE;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 3vh;
}

.logo {
    margin-top: 5px;
}


.navbarList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.navbarList a {
    text-decoration: none;
}

.navElement {
    font-family: Inter;
    font-size: medium;
    height: 12px;
    width: auto;
    color: black;
    cursor: pointer;
}

.navElement:hover {
    font-weight: bold;
}

.hamburger {
    display: none;
}

.accordion {
    display: none;
}


@media (max-width: 1000px) {

    .container {
        width: 80vw;
    }


    .navbarList {
        display: none;
    }

    .hamburger {
        display: inline;
    }



    .accordion {
        display: inline;
        height: 0rem;
        background-color: #FEFEFE;
        width: 80vw;
        position: fixed;
        top: 8vh;
        z-index: 9;
        border-radius: 1.5rem;
        box-shadow: 4px 4px 8px rgb(0, 0 ,0, 0.25);
        transition: height 0.2s ease-out;
        overflow: hidden;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .accordion.open {
        height: 30rem;
        padding: 2rem;
    }

    .accordion ul {
        list-style: none;
        margin-top: 5vh;
    }

    .category {
        font-family: Inter;
        font-size: large;
    }

    .subcategory {
        font-family: Inter;
        margin-left: 1rem;
        margin-bottom: 5px;
    }

    .accordion a {
        text-decoration: none;
        color: black;
    }
}