.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5rem;
    font-family: 'Inter';
    align-items:start;
    box-sizing: border-box;
}

.title {
    font-family: Inter;
}

.container ul {
    list-style: none;
    width: 100% auto;
    padding: 0;
    margin: 0;
    padding-top: 2rem;
}

.container ul li {
    width: 30vw;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.container ul button {
    background-color: #FFFFFF;
    border: 2px solid #F4C50B;
    border-radius: 10px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    cursor: pointer;
}


.deleteAccount {
    border: 2px solid #F40B0B !important;

}

.overview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #F4C50B;
    background-color: #FFFFFF;
    width: 30vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 25px;
    font-family: 'Inter', 'sans-serif';
}

.overview h3 {
    font-size: 24px;
    margin-top: 5rem;
    width: 60%;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.changeForm {
    min-height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.changeField {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    outline: none;
    border: 1px solid #F4C50B;
    height: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}


.confirmationButton {
    width: 150px;
    height: 50px;
    background-color: #F4C50B;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 4px 4px 4px  #F4C50B;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 18px;
}

.deleteButton {
    background-color: #F40B0B;
    box-shadow: 4px 4px 4px  #F40B0B;
}



@media (max-width: 1000px) {

    .container {
        padding: 0;
        align-items: center;
    }

    .container ul li {
        width: 70vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 30%;
    }
    .title {
        font-size: 28px;
        width: 70vw;
        margin-top: 3rem;
    }

    .overview {
        width: 90vw;
        height: 70vh;
        top: 35vh;
    }


}